body{
    font-family:'Times New Roman', Times, serif;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
gap: 100px;
}
.container{
    max-width:1110%;
   margin: 0 auto;
    overflow:auto;
    padding: 0 40px
}
.navbar{
    background-color:#87cefa;
    height: 100px;
    position: fixed;
    top: 0;
    width: 100%;

}
.navbar .flex{
    justify-content: space-between;
}
.navbar ul{
    display: flex;
    padding: 20px;
    text-transform: uppercase;
}
.navbar li{
    word-spacing: 20em;

}
ul {
    list-style-type: none;
  }
 a{
    color: #333;
  padding: 10px;
  margin: 0 5px;
  text-decoration: none;
}

a:hover{
    color: #ff0000;
}
.contact{
    padding-top:200px;
}
.contact-2{
text-align: center;
}
.head h1{
    padding-top: 40px;
    text-align: center;
}
.card{
    
    background-color: #87cefa;
    color:#000000;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin: 10px;
    overflow: visible;}

    .footer{
        padding:1%;
        text-align: center;
        font-size: 20px;
        background-color: #333;
        background-position: 90%;
        color:#fff;
    }
    nav i{
        padding-right: 20px;
    }